body
{
 font-family: cursive;
 color: white;
 background-color: orange;
 font-size: 40px;
 display: grid;
  grid-template-columns:   45% 45%;
}

.keypad
{
 display: grid;
 grid-template-columns:   20% 20% 20%;

}
.IO
{
   
    width: 100%;
   height: 100%;
    border-radius: 10px;
    
}
.key   
{
    width: 130px;
    height: 130px;
    border-radius: 5px;
    background-color: orangered;
    margin: 20px;
    padding: 20px;

}

button {

height: 60px;
width: 120px;
border-radius: 25px;
font-size: 20px;
margin-top: 10px;
margin: 10px;
font-family: cursive;
 color: white;
    background-color: rgb(0, 110, 255);
     border: none;
    transition: all,0.1s;
}
button:hover{

    height: 60px;
    width: 120px;
    background-color: white;
    color: rgb(0, 110, 255);
    border: none;
}
.screen {
   display: grid;
 grid-template-columns:   60% 20% 20%;
}
.display {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 10px;
    padding: 10px;
     border: solid 2px black;
}

.Guesses{
   
    width: 100%;
   height: 100%;
    border-radius: 10px;
    
    font-size: 30px;
}
.EndBody{
    background-color: rgb(0, 255, 34);
    font-weight: 800;
    font-size: 40px;



}